/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  min-inline-size: 320px;
  background-color: var(--bg-color, #00183F);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font, sans-serif);
  color: var(--text-color, #F1B2CE);
  font-size: var(--font-size, 18px);
  font-weight: var(--font-weight, 400);
  line-height: var(--line-height, 23.4px);
}

/* Стили  header*/

.header {
  height: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

.decoration-zone__element {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  right: 38px;
  text-transform: uppercase;
  line-height: 25px;
  color: var(--accent-color);
}

.decoration-zone__element::after {
  content: "";
  position: absolute;
  top: 33%;
  left: 128%;
  display: flex;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25.04px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid  var(--accent-color);
  top: 10px;
  right: 10px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25.04px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid  var(--accent-color);
  bottom: 10px;
  left: 10px;
}

.header__title {
  font-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: #DB00FF;
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 95.7px;
  font-weight: 700;
  margin-block-start: 65px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

/* Стили блока навигации */

.header__theme-menu {
  display: flex;
  justify-content: flex-end;
  color: var(--accent-color);
  margin-right: 10px;
  margin-top: 75px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
}

.header__quote {
  font-weight: 700;
  height: 117px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--text-on-accent-bg-color);
}

.header-zone:nth-child(2) {
  grid-column: 2/4;
  grid-row: 1/2;
}

.header-zone:nth-child(3) {
  grid-column: 1/4;
  grid-row: 2/3;
}

.header-zone:last-child {
  grid-column: 1/4;
  grid-row: 3/4;
  margin: 55px 10px 66px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  background: transparent;
  text-transform: lowercase;
  outline: none;
  border: none;
}

.header__theme-menu-button:active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color-on-hover);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid (--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

/* Main */
.main {
  margin-top: 40px;
}

.section-title {
  color: var(--accent-color);
  font-size: var(--font-size);
  font-weight: 700;
  margin: 0 10px 20px;
}

.text-title-h3 {
  color: var(--text-on-accent-bg-color);
  background-color: var(--accent-color);
  font-size: var(--font-size);
  font-weight: 700;
  margin: 0 10px 10px;
}

.text-title-h4 {
  color: var(--text-on-accent-bg-color);
  background-color: var(--accent-color);
  font-size: var(--font-size);
  font-weight: 400;
  margin: 0 10px 10px;
}

.text {
  margin: 0 10px 20px;
}

.text:last-child {
  margin-bottom: 50px;
}

.decorated-links {
  text-shadow: 1px 2px 0 var(--accent-color);
  text-decoration: none;
}

.decorated-links:hover {
  text-shadow: 1px 2px 0 var(--accent-color);
  border-bottom: 1px solid var(--text-color);
}

.decorated-links:focus {
  outline: none;
}

.decorated-links:focus-visible {
  text-shadow: 1px 2px 0 var(--accent-color);
  border: 1px solid var(--text-color);
}

/* Gallery */
.gallery-image-container {
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 10px;
}

.gallery-image {
  background-size: cover;
  inline-size: 100%;
  block-size: 100%;
  background-repeat: no-repeat;
}

/* footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 668px;
  position: relative;
}

.footer-title {
  font-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: #DB00FF;
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: 95.7px;
  font-weight: 700;
  margin-block-start: 65px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

.decorated-zone-footer::after {
  content: "";
  position: absolute;
  width: 25.04px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid  var(--accent-color);
  top: 10px;
  right: 10px;
}

.decorated-zone-footer::before {
  content: "";
  position: absolute;
  width: 25.04px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid  var(--accent-color);
  bottom: 10px;
  left: 10px;
}

/* tablet */

@media (768px <= width) {
  .header {
    min-block-size: 768px;
    grid-auto-rows: 1fr auto 1fr;
  }
  
  .decoration-zone__element {
    top: 20px;
    right: 48px;
  }
  
  .decorated-zone::after {
    width: 25px;
    height: 25px;
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    width: 25px;
    height: 25px;
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu {
    margin-top: 192px;
    margin-right: 20px;
  }

  .header-zone:nth-child(3) {
    margin-left: 0;
    margin-top: 173px;
  }

  .header-zone:last-child{
    margin-top: 162px;
    margin-left: 384px;
    margin-bottom: 183px;
  }
}