/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --main-font: 'IBM Plex mono';
  --bg-color: #00183F;
  --text-color: #F1B2CE;
  --font-size: 18px;
  --font-weight: 400;
  --line-height: 23.4px;
  --font-accent-weight: 700;
  --text-on-accent-bg-color: #000028;
  --color-on-hover: #FF007066;
}

@media (prefers-color-scheme: light) {
  .page .theme_light  {
    --accent-color: #FF8DCB;
    --bg-color: #fff1f7;
    --text-color: #353430;
    --text-on-accent-bg-color: #353430;
    --color-on-hover: #32312D66;
  }

  .theme_light .page {
    background-image: url(../images/cover-image-light.png);
  }
}